@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Inter', sans-serif;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
}

.container {
        background-color: #f9faf9;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        width: 400px;
}

.container h1 {
        text-align: center;
        margin: 50px;
}

.form {
        padding: 30px 40px;
}

.form-controller {
        padding-bottom: 5px;
        margin-bottom: 10px;
        position: relative;
}

.form-controller label {
        display: block;
        margin-bottom: 5px;
}

.form-controller input {
        width: 100%;
        padding: 10px 15px;
        font-size: 16px;
        border: 1px solid #a7a1a0;
}

.form-controller i.fa-check {
        position: absolute;
        text-align: right;
        color: #31ca15;
        top: 35px;
        bottom: 0;
        right: 10px;
        visibility: hidden;
}

.form-controller i.fa-close {
        position: absolute;
        text-align: right;
        color: #ec5a36;
        top: 35px;
        bottom: 0;
        right: 10px;
        visibility: hidden;
}

.form-controller input:focus {
        outline: none;
        border: 1px solid #1d1a1a;
}

.form-controller .small {
        display: block;
        color: #ec5a36;
        font-size: 12px;
        visibility: hidden;
}

.btn {
        width: 100%;
        padding: 10px 20px;
        background-color: #ff7e33;
        border: 2px solid #ff7e33;
        color: #fff;
        font-size: 14px;
        border-radius: 4px;
        display: block;
        outline: none;
}

.form-controller.success input {
        border: 1px solid #31ca15;
}

.form-controller.error input {
        border: 1px solid #ec5a35;
}

.form-controller.error .small {
        visibility: visible;
}